@charset "UTF-8";
#clearfix:after,
.clearfix:after,
.inner:after,
section table:after,
header:after,
section.list-search div.search-page07:after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden; }

#clearfix,
.clearfix,
.inner:after,
section table:after,
header:after,
section.list-search div.search-page07:after {
    display: inline-block; }

#clearfix,
.clearfix,
.inner:after,
section table:after,
header:after,
section.list-search div.search-page07:after {
    display: block; }

.transitions, a:link, a:visited, a:active, a:hover, a img, input,
select,
textarea,
search, input:hover,
select:hover,
textarea:hover,
search:hover, .remodal-confirm,
.remodal-cancel, .remodal-confirm:hover,
.remodal-confirm:focus, .remodal-cancel:hover,
.remodal-cancel:focus {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease; }
@media only screen and (max-width: 780px) {
    .transitions, a:link, a:visited, a:active, a:hover, a img, input,
    select,
    textarea,
    search, input:hover,
    select:hover,
    textarea:hover,
    search:hover, .remodal-confirm,
    .remodal-cancel, .remodal-confirm:hover,
    .remodal-confirm:focus, .remodal-cancel:hover,
    .remodal-cancel:focus {
        transition: all 0s ease;
        -webkit-transition: all 0s ease;
        -moz-transition: all 0s ease;
        -o-transition: all 0s ease; } }

.all_transitions {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease; }

.inner, section table {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    position: relative; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit; }

article, aside, details, figcaption, figure, main,
footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1;
    -webkit-text-size-adjust: none; }

img {
    display: inherit; }

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }

* {
    box-sizing: border-box;
    word-break: normal;
    word-wrap: break-word; }

div#ie_container {
    display: none;
    width: 100%;
    height: 100%;
    margin: auto; }
div#ie_container div.cover {
    width: 100%;
    height: 100%;
    max-width: none;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    margin: auto; }
div#ie_container div.cover p {
    width: 100%;
    position: absolute;
    font-size: 12px;
    line-height: 1.5em;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center; }

.ie7 body {
    overflow: hidden;
    background: #FFFFFF; }

.ie7 div#container {
    display: none; }

.ie8 body {
    overflow: hidden;
    background: #FFFFFF; }

.ie8 div#container {
    display: none; }

.ie8 div#ie_container {
    display: inherit; }

html,
body {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    margin: auto; }
@media only screen and (max-width: 780px) {
    html,
    body {
        min-width: inherit; } }

body {
    font-family: "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "Yu Gothic", YuGothic, "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro", "Hiragino Kaku Gothic Pro", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    line-height: 1.5em;
    background: #f8f6f4;
    -webkit-text-size-adjust: 100%; }

::selection {
    background: #009d3d;
    color: #FFF; }

::-moz-selection {
    background: #009d3d;
    color: #FFF; }

a:link {
    text-decoration: none;
    color: #444444; }
a:visited {
    text-decoration: none;
    color: #444444; }
a:active {
    text-decoration: none;
    color: #444444; }
a:hover {
    text-decoration: underline;
    color: #179d4a; }
a:hover img {
    opacity: 0.7; }

header {
    width: 100%;
    padding: 10px 0;
    background: #009d3d;
    /* clearfix */ }
header ul {
    float: left;
    display: table; }
header ul li {
    padding: 0 20px;
    display: table-cell;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    vertical-align: middle; }
header ul li:nth-child(1) img {
    width: 160px;
    height: 63px;
    margin-right: 20px; }
header ul li:nth-child(2) {
    padding: 0 0 0 40px;
    border-left: 1px solid #fff; }
header p.link {
    padding: 0 20px 0 0;
    float: right; }
header p.link a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #fff;
    font-size: 14px; }
header p.link a:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    left: 3px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

footer {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px 0; }
footer ul {
    width: 100%;
    text-align: center;
    padding: 10px 0; }
footer ul li {
    display: inline-block;
    padding: 5px 10px; }
footer p {
    font-size: 12px; }

div#container {
    width: 100%;
    height: 100%; }

div#pager {
    width: 1000px;
    margin: auto; }
div#pager ul {
    margin-top: 30px;
    padding: 0; }
div#pager ul li {
    min-width: 50px;
    display: inline-block;
    letter-spacing: 2px;
    padding: 10px;
    color: #009d3d;
    font-weight: bold;
    font-size: 14px;
    vertical-align: top; }
div#pager ul li:first-child a span {
    display: inherit; }
div#pager ul li:last-child a span {
    display: inherit; }
div#pager ul li a {
    display: block;
    width: 100%;
    height: 100%;
    font-weight: normal;
    padding: 0 0 10px 0; }

input,
select,
textarea,
search {
    font-family: "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "Yu Gothic", YuGothic, "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro", "Hiragino Kaku Gothic Pro", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", "Roboto", sans-serif;
    border: #dedede 2px solid;
    border-radius: 5px;
    background: #FFF;
    -webkit-appearance: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
    border-color: #009d3d; }

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0; }
@media only screen and (max-width: 780px) {
    input::-webkit-input-placeholder {
        color: transparent; } }
@media only screen and (max-width: 780px) {
    input::-moz-placeholder {
        color: transparent; } }
@media only screen and (max-width: 780px) {
    input:-ms-input-placeholder {
        color: transparent; } }
@media only screen and (max-width: 780px) {
    input:focus::-webkit-input-placeholder {
        color: transparent; } }
@media only screen and (max-width: 780px) {
    input:focus:-ms-input-placeholder {
        color: transparent; } }
@media only screen and (max-width: 780px) {
    input:focus::-moz-placeholder {
        color: transparent; } }

input.wth_80 {
    width: 80%; }
@media only screen and (max-width: 780px) {
    input.wth_80 {
        width: 100%; } }

input.wth_70 {
    width: 70%; }
@media only screen and (max-width: 780px) {
    input.wth_70 {
        width: 100%; } }

input.wth_50 {
    width: 50%; }
@media only screen and (max-width: 780px) {
    input.wth_50 {
        width: 100%; } }

input.wth_30 {
    width: 30%; }
@media only screen and (max-width: 780px) {
    input.wth_30 {
        width: 100%; } }

input.wth_20 {
    width: 20%; }
@media only screen and (max-width: 780px) {
    input.wth_20 {
        width: 50%; } }

textarea {
    width: 100%;
    height: 10em;
    padding: 10px;
    resize: vertical; }
@media only screen and (max-width: 780px) {
    textarea::-webkit-input-placeholder {
        color: transparent; } }
@media only screen and (max-width: 780px) {
    textarea::-moz-placeholder {
        color: transparent; } }
@media only screen and (max-width: 780px) {
    textarea:-ms-input-placeholder {
        color: transparent; } }
@media only screen and (max-width: 780px) {
    textarea:focus::-webkit-input-placeholder {
        color: transparent; } }
@media only screen and (max-width: 780px) {
    textarea:focus:-ms-input-placeholder {
        color: transparent; } }
@media only screen and (max-width: 780px) {
    textarea:focus::-moz-placeholder {
        color: transparent; } }

select {
    width: auto;
    padding: 10px 36px 10px 10px;
    margin: 5px 0;
    background-image: url(../../images/input_select.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 25px 25px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

table#page07 select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-image: url(../../images/input_select.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 25px 25px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

table#page09 select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-image: url(../../images/input_select.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 25px 25px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

.remodal select {
    width: 50%;
    padding: 10px;
    margin: 20px 0;
    background-image: url(../../images/input_select.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 25px 25px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

/*IE*/
select::-ms-expand {
    display: none; }

input[type="radio"],
input[type="checkbox"] {
    display: none; }

input[type="radio"] + label {
    padding: 7px 0px 7px 25px;
    margin: 2px 20px 2px 0px;
    background-image: url(../../images/icon_check_off.svg);
    background-repeat: no-repeat;
    background-position: left 50%;
    background-size: 18px 18px;
    cursor: pointer; }

input[type="radio"]:checked + label {
    background-image: url(../../images/icon_check_on.svg);
    background-repeat: no-repeat;
    background-position: left 50%;
    background-size: 18px 18px; }

input[type="checkbox"] + label {
    padding: 7px 0px 7px 25px;
    margin: 2px 20px 2px 0px;
    background-image: url(../../images/icon_check_off.svg);
    background-repeat: no-repeat;
    background-position: left 50%;
    background-size: 18px 18px;
    cursor: pointer; }

input[type="checkbox"]:checked + label {
    background-image: url(../../images/icon_check_on.svg);
    background-repeat: no-repeat;
    background-position: left 50%;
    background-size: 18px 18px; }

table#page07 input[type="radio"] + label {
    margin: 2px 0px 2px 0px; }

table#page09 input[type="radio"] + label {
    padding: 7px 0px 7px 18px;
    margin: 2px 0; }
table#page09 input[type="checkbox"] + label {
    padding: 7px 0px 7px 18px;
    margin: 2px 0; }

input[type="submit"],
input[type="reset"],
input[type="button"] {
    width: 240px;
    color: #FFF;
    background: #7db928;
    border: #7db928 2px solid;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer; }

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    border: #009d3d 2px solid;
    background: #009d3d; }

div.error_area {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 10px 0; }

p#fm_ajax_message {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5em;
    color: #009d3d;
    letter-spacing: 1px; }

span.essential {
    white-space: nowrap;
    padding: 3px 10px;
    font-size: 80%;
    border-radius: 20px;
    webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    color: #FFF;
    background: #009d3d;
    font-weight: normal;
    margin: 0 5px; }

ul.break {
    width: 100%;
    display: table; }
@media only screen and (max-width: 580px) {
    ul.break {
        display: inherit; } }
ul.break li {
    display: table-cell;
    padding: 0 5px; }
ul.break li:nth-child(1) {
    padding: 0 5px 0 0; }
@media only screen and (max-width: 580px) {
    ul.break li:nth-child(1) {
        padding: 0; } }
ul.break li:last-child {
    padding: 0 0 0 5px; }
@media only screen and (max-width: 580px) {
    ul.break li:last-child {
        padding: 0; } }
@media only screen and (max-width: 580px) {
    ul.break li {
        display: inherit;
        padding: 0; } }

ul.variable {
    width: 100%; }
ul.variable li {
    display: inline-block;
    padding: 0 5px; }
ul.variable li:last-child {
    padding: 0 0 0 5px; }
@media only screen and (max-width: 580px) {
    ul.variable li:last-child {
        padding: 0; } }
ul.variable li:nth-child(1) {
    padding: 0 5px 0 0; }
@media only screen and (max-width: 580px) {
    ul.variable li:nth-child(1) {
        padding: 0; } }
@media only screen and (max-width: 580px) {
    ul.variable li {
        display: inherit;
        padding: 0; } }
ul.variable li input {
    width: auto;
    margin: 5px 10px 5px 0; }

ul.check_list {
    width: 100%;
    overflow: hidden; }
ul.check_list li {
    width: 50%;
    float: left;
    padding: 5px 0; }
@media only screen and (max-width: 1000px) {
    ul.check_list li {
        width: 100%;
        float: none;
        border-bottom: #dedede 1px solid; } }

ul.transmission {
    text-align: center;
    margin: 10px 0 0; }
ul.transmission li {
    margin: 10px 10px 0 10px;
    display: inline-block; }
@media only screen and (max-width: 580px) {
    ul.transmission li {
        margin: 5px; } }

section table {
    width: 100%;
    margin: auto;
    border-collapse: collapse; }
section table th, section table td {
    padding: 5px 20px;
    font-size: 15px;
    text-align: left;
    vertical-align: middle; }
@media only screen and (max-width: 780px) {
    section table th, section table td {
        width: 100%;
        padding: 10px;
        display: block; } }
section table th {
    width: 25%;
    font-weight: 700;
    vertical-align: middle; }
section table th p {
    display: inline-block;
    vertical-align: middle; }
section table td p.atn {
    color: #717071;
    font-size: 11px; }
section table td span {
    font-size: 13px; }

ul.navi {
    max-width: 1000px;
    margin: 20px auto 0; }
ul.navi li {
    width: 140px;
    margin: 0 20px 0 0;
    text-align: center;
    display: inline-block; }
ul.navi li a {
    padding: 10px 10px 10px 40px;
    border: 2px solid #009d3d;
    border-radius: 5px;
    color: #009d3d;
    font-weight: 700;
    text-decoration: none;
    display: block; }
ul.navi li a:hover {
    color: #7db928;
    border: 2px solid #7db928; }
ul.navi li:nth-child(1) {
    background: url(../../images/icon_01.svg) left 12px center no-repeat;
    background-size: 26px 26px; }
ul.navi li:nth-child(2) {
    background: url(../../images/icon_02.svg) left 12px center no-repeat;
    background-size: 26px 26px; }
ul.navi li:nth-child(3) {
    background: url(../../images/icon_03.svg) left 12px center no-repeat;
    background-size: 26px 26px; }
ul.navi li:nth-child(4) {
    background: url(../../images/icon_04.svg) left 12px center no-repeat;
    background-size: 26px 26px; }

h1 {
    padding: 40px 0;
    color: #009d3d;
    font-size: 24px;
    font-weight: 500;
    text-align: center; }

p.comment {
    padding: 0 0 30px;
    text-align: center; }

p.link-txt {
    padding: 30px 0;
    text-align: center;
    font-size: 13px; }
p.link-txt a {
    text-decoration: none;
    border-bottom: 1px dashed #009d3d; }

section {
    width: 100%;
    padding: 0 0 10px; }
section div.login-box {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    font-size: 16px;
    text-align: center;
    background: #fff;
    border: 3px solid #009d3d;
    border-radius: 10px; }
section div.login-box ul li {
    margin-bottom: 20px; }
section div.login-box ul li p {
    display: table-cell; }
section div.login-box p.password {
    margin: 0 0 30px;
    text-align: right; }
section div.login-box p.password a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px dashed #009d3d; }
section div.login-box p.password a:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 25%;
    border-radius: 25%;
    background: #7db928; }
section div.login-box p.password a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    left: 3px;
    width: 3px;
    height: 3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
section ul.info-text {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto 0;
    text-align: right; }
section ul.info-text li {
    padding: 0 0 10px; }
section ul.info-text li a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    text-decoration: none;
    border-bottom: 1px dashed #009d3d; }
section ul.info-text li a:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 25%;
    border-radius: 25%;
    background: #7db928; }
section ul.info-text li a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    left: 3px;
    width: 3px;
    height: 3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

section {
    width: 100%;
    padding: 0 0 10px; }
section div.page01-box {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border: 3px solid #009d3d;
    border-radius: 10px; }
section div.page01-box span.sample {
    margin-left: 20px; }
section div.page01-box span.sample a {
    text-decoration: underline; }
section div.page01-box span.tadashi {
    font-size: 12px;
    font-weight: 500;
    display: block; }
section div.page01-box .search-btn {
    margin: 10px 0 0;
    display: inline-block; }
section div.page01-box .search-btn a {
    display: block;
    padding: 5px;
    background: none;
    border: 2px solid #009d3d;
    border-radius: 5px; }
section div.page01-box .search-btn a span {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../images/search.svg") no-repeat scroll 0 0;
    background-size: 20px 20px; }
section div.page01-box span.red {
    color: #f83e3e;
    font-size: 12px;
    display: block; }
section div.page01-box .agree {
    font-size: 14px; }
section div.page01-box dl.category {
    border: #dedede 2px solid;
    border-radius: 5px; }
section div.page01-box dl.category dt {
    padding: 5px;
    background: #f5f5f5; }
section div.page01-box dl.category dd {
    padding: 5px; }

section.summary {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 30px;
    padding: 40px;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border: 3px solid #009d3d;
    border-radius: 10px; }
section.summary span {
    font-size: 13px;
    padding-right: 10px; }
section.summary ul.variable li input[type="submit"], section.summary ul.variable li input[type="reset"], section.summary ul.variable li input[type="button"] {
    width: 50px;
    color: #FFF;
    background: #009d3d;
    border: #009d3d 2px solid;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer; }
section.summary ul.variable li input[type="submit"]:hover,
section.summary ul.variable li input[type="reset"]:hover,
section.summary ul.variable li input[type="button"]:hover {
    border: #7db928 2px solid;
    background: #7db928; }

section.tally {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 30px;
    padding: 0;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border: 3px solid #7db928;
    border-radius: 10px; }
section.tally h2 {
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #7db928; }
section.tally div.inner {
    padding: 40px 0 30px; }
section.tally div.inner table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    text-align: center; }
section.tally div.inner table th {
    width: 12.5%;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f4f4f4;
    font-size: 13px; }
section.tally div.inner table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 13px; }
section.tally div.inner table td:first-child {
    text-align: left; }
section.tally div.inner p {
    font-size: 13px;
    text-align: center; }

section.graph {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 10px;
    padding: 0;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border: 3px solid #7db928;
    border-radius: 10px; }
section.graph h2 {
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #7db928; }
section.graph div.inner {
    padding: 20px; }
section.graph div.inner ul {
    margin: 20px auto;
    display: table;
    font-size: 13px;
    text-align: center; }
section.graph div.inner ul li {
    padding: 0 40px;
    display: table-cell; }
section.graph div.inner ul li p {
    margin: 0 0 10px; }

table.page15 {
    border-top: 1px solid #dedede; }
table.page15 tr {
    border-bottom: 1px solid #dedede; }
table.page15 th {
    padding: 15px;
    font-size: 14px; }
table.page15 td {
    padding: 15px;
    font-size: 14px; }

section#search {
    width: 100%;
    max-width: 1000px;
    margin: auto; }
section#search dl.search {
    position: relative;
    background-color: #fff;
    border: #dedede 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
section#search dl.search dt {
    margin-right: 40px;
    padding: 10px 0 10px 10px; }
section#search dl.search dt input {
    width: 100%;
    height: 24px;
    line-height: 24px;
    background: none;
    border: none; }
section#search dl.search dd {
    position: absolute;
    top: 0;
    right: 0; }
section#search dl.search dd button {
    display: block;
    padding: 14px;
    background: none;
    border: none; }
section#search dl.search dd button span {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../../images/search.svg") no-repeat scroll 0 0;
    background-size: 30px 30px; }

section.list {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 10px;
    padding: 40px 40px 30px;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border: 3px solid #009d3d;
    border-radius: 10px; }
section.list table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    text-align: center; }
section.list table thead th {
    width: auto;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f4f4f4;
    font-size: 13px;
    font-weight: 700; }
section.list table tbody tr:nth-child(even) {
    background: #fafafa; }
section.list table tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 13px; }
section.list table tbody td a {
    text-decoration: none;
    border-bottom: 1px dashed #009d3d; }

section.list-search {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 30px;
    padding: 40px 40px 30px;
    background: #fff;
    border: 3px solid #009d3d;
    border-radius: 10px; }
section.list-search .status {
    margin: 20px 0 0; }
section.list-search .status li {
    margin: 10px 0; }
section.list-search .status li:first-child {
    color: #009d3d;
    font-weight: 700; }
section.list-search div.search-page07 {
    width: 100%;
    /* clearfix */ }
section.list-search div.search-page07 dl {
    width: 90%;
    float: left;
    text-align: left; }
section.list-search div.search-page07 .btn-page07 {
    width: 10%;
    float: right; }
section.list-search div.search-page07 .btn-page07 .btn-primary {
    width: 100%;
    margin: 5px 0 0 10px;
    color: #FFF;
    background: #009d3d;
    border: #009d3d 2px solid;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    padding: 8px 0 10px;
    cursor: pointer; }

.plus {
    margin: 0 0 0 10px;
    padding: 0;
    position: relative;
    display: inline-table;
    vertical-align: text-top; }
.plus:before, .plus:after {
    display: block;
    content: '';
    width: 4px;
    height: 22px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    left: 23px; }
.plus:before {
    width: 22px;
    height: 4px;
    top: 17px;
    left: 14px; }
.plus input[type="submit"], .plus input[type="reset"], .plus input[type="button"] {
    width: 115px;
    margin: 0;
    padding: 5px 10px 7px 10px;
    background: #009d3d;
    border: #009d3d 2px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: right;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer; }

.img-contents .img-area {
    position: relative; }
.img-contents .close-btn {
    position: absolute;
    top: 0;
    right: 0; }
.img-contents .close-btn input {
    display: block;
    margin: 0;
    padding: 5px 10px;
    background: #009d3d;
    border: none;
    border-radius: 0; }

section {
    width: 100%;
    padding: 0 0 10px; }
section div.complete-01, section div.complete-02, section div.complete-03, section div.complete-04 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 10px;
    padding: 100px 50px;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border: 3px solid #009d3d;
    border-radius: 10px; }
section div.complete-01 h2, section div.complete-02 h2, section div.complete-03 h2, section div.complete-04 h2 {
    color: #009d3d;
    font-size: 18px; }
section div.complete-01 p, section div.complete-02 p, section div.complete-03 p, section div.complete-04 p {
    margin: 50px 0 0;
    font-size: 16px; }
section div.complete-01 ul, section div.complete-02 ul, section div.complete-03 ul, section div.complete-04 ul {
    margin-top: 50px; }
section div.complete-01 ul li, section div.complete-02 ul li, section div.complete-03 ul li, section div.complete-04 ul li {
    padding: 5px 20px;
    display: inline-block;
    border-right: 1px solid #dedede; }
section div.complete-01 ul li:last-child, section div.complete-02 ul li:last-child, section div.complete-03 ul li:last-child, section div.complete-04 ul li:last-child {
    border: none; }
section div.complete-01 ul li a, section div.complete-02 ul li a, section div.complete-03 ul li a, section div.complete-04 ul li a {
    padding-left: 0; }
section div.complete-01 ul li a:before, section div.complete-02 ul li a:before, section div.complete-03 ul li a:before, section div.complete-04 ul li a:before {
    border: none; }
section div.complete-01 a, section div.complete-02 a, section div.complete-03 a, section div.complete-04 a {
    padding-left: 20px;
    position: relative;
    text-decoration: none;
    border-bottom: 1px dashed #009d3d; }
section div.complete-01 a:before, section div.complete-02 a:before, section div.complete-03 a:before, section div.complete-04 a:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    left: 3px;
    width: 5px;
    height: 5px;
    border-top: 2px solid #009d3d;
    border-right: 2px solid #009d3d;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

span.red {
    color: #f83e3e;
    font-size: 12px;
    display: block; }

.label-status {
    display: block;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em; }

.label-status-a1 {
    background-color: #E04B4A; }

.label-status-a2 {
    background-color: #f6ad49; }

.label-status-b1 {
    background-color: #95b75d; }

.label-status-b2 {
    background-color: #59b9c6; }

.label-status-b3 {
    background-color: #68be8d; }

.error_box {
    background: #ffaaaa; }

div.waiting {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    color: #dc143c;
    font-size: 14px;
    border: 1px dashed #dc143c;
    background: #ffc0cb; }

div.editing {
    margin-left: 10px;
    padding: 10px;
    color: #dc143c;
    font-size: 14px;
    border: 1px dashed #dc143c;
    background: #ffc0cb;
    display: inline-block; }

.ui-widget-header {
    color: #fff;
    background-image: none;
    background-color: #009d3d;
    border: none; }

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:focus {
    border: none;
    background: none;
    font-weight: normal;
    color: #212121; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active {
    border: 1px solid #d3d3d3;
    background: none;
    font-weight: normal;
    color: #555555;
    background: #f4f4f4; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #7db928;
    background: #fbf9ee; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-button:hover {
    border: 1px solid #7db928;
    background: #7db928; }

html.remodal-is-locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none; }

.remodal,
[data-remodal-id] {
    display: none; }

.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none; }

.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: ""; }

.remodal-overlay,
.remodal-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.remodal {
    position: relative;
    outline: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; }

.remodal-is-initialized {
    display: inline-block; }

.remodal-overlay {
    background: rgba(255, 255, 255, 0.7); }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
    -webkit-animation-name: remodal-overlay-opening-keyframes;
    animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
    -webkit-animation-name: remodal-overlay-closing-keyframes;
    animation-name: remodal-overlay-closing-keyframes; }

.remodal-wrapper {
    padding: 10px 10px 0; }

.remodal {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 35px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #2b2e38;
    background: #fff;
    border: #dedede 1px solid; }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
    -webkit-animation-name: remodal-opening-keyframes;
    animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
    -webkit-animation-name: remodal-closing-keyframes;
    animation-name: remodal-closing-keyframes; }

.remodal,
.remodal-wrapper:after {
    vertical-align: middle; }

.remodal-close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: visible;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    color: #95979c;
    border: 0;
    outline: 0;
    background: transparent; }

.remodal-close:hover,
.remodal-close:focus {
    color: #2b2e38; }

.remodal-close:before {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 25px;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35px;
    content: "\00d7";
    text-align: center; }

.remodal-confirm,
.remodal-cancel {
    font: inherit;
    display: inline-block;
    overflow: visible;
    min-width: 110px;
    margin: 0;
    padding: 12px 0;
    cursor: pointer;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 0;
    outline: 0; }

.remodal-confirm {
    color: #fff;
    background: #009d3d; }

.remodal-confirm:hover,
.remodal-confirm:focus {
    opacity: 0.7; }

.remodal-cancel {
    color: #fff;
    background: #e57373; }

.remodal-cancel:hover,
.remodal-cancel:focus {
    opacity: 0.7; }

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
    padding: 0;
    border: 0; }

@-webkit-keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0; }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1; } }
@keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0; }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1; } }
@-webkit-keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0; } }
@keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0; } }
@-webkit-keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0; }
    to {
        opacity: 1; } }
@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0; }
    to {
        opacity: 1; } }
@-webkit-keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1; }
    to {
        opacity: 0; } }
@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1; }
    to {
        opacity: 0; } }
@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 800px; } }
.lt-ie9 .remodal-overlay {
    background: #2b2e38; }

.lt-ie9 .remodal {
    width: 700px; }

.remodal table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center; }
.remodal table th {
    padding: 10px;
    border: 1px solid #ddd;
    background: #f4f4f4;
    font-size: 13px; }
.remodal table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 13px; }
.remodal table td:first-child {
    text-align: left; }

div.txt_btn {
    width: 80px;
    color: #FFF;
    background: #009d3d;
    border: #009d3d 2px solid;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    padding: 8px 0 10px;
    cursor: pointer;
    display: inline-block; }
@media only screen and (max-width: 479px) {
    div.txt_btn {
        display: block; } }
div.txt_btn a {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700; }
div.txt_btn a:hover {
    text-decoration: none; }
div.txt_btn a span {
    padding-right: 0; }

/*# sourceMappingURL=style.css.map */
